*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#kutu{
    width: 1000px;
    margin: 0 auto;
    background: rgba(46, 44, 44, 0.137);
}
#logo{
    width: 20%;
    float: left;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
}
#menu{
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    
}
#menu li{
    list-style-type: none;
}
#menu a{
    text-decoration: none;
    color: rgb(9, 20, 180);
}
#menu a:hover{
    color: #610606;
}
#birinci{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ikinci{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   color: #610606;
}
.kare{
    border: 1px solid #b8ca14; 
    background-color: hwb(175 1% 46%);
    width: 250px;
    height: 230px;
}
body{
    background-image: url(pics/images.jpg);
    background-color: rgba(105, 105, 105, 0.623);
    background-size: cover;
}



